/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

/* @import url(../fonts/buyan.css); */
@font-face {
   font-family: 'BuyanBold';
   src: url(../fonts/BuyanBold.woff),
      url(../fonts/BuyanBold.ttf);
}

/* Fonts:
font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif;

font-family: 'BuyanBold';


*/

body {
   color: #fff;
}

ul,
li {
   list-style-type: none;
}

.start-section {
   background-image: url(../img/start-bg.png);
   width: 100%;
   height: auto;
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 80px;
   padding-bottom: 80px;
}

.start-content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.start-reset {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 20px;
   margin-top: 30px;
   margin-left: 40px;
   float: left;
   width: 50%;
}

.start-link img {
   width: 40px;
   opacity: 0.3;
   -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
   transition: opacity 0.4s, -webkit-transform 0.4s;
   -o-transition: transform 0.4s, opacity 0.4s;
   transition: transform 0.4s, opacity 0.4s;
   transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.start-link img:hover {
   width: 40px;
   /* Измените на желаемую ширину */
   opacity: 1;
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   /* Увеличение картинки */
}

.start-about {
   float: right;
   width: 50%;
}

.start-about-area {
   width: 100%;
   height: auto;
   border-radius: 31px;
   border: 1.5px solid #303030;
   background: url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat, rgba(20, 20, 20, 0.40);
   -webkit-box-shadow: 0px 7px 24px 0px #0E0E0E, 0px 4px 30px 0px rgba(148, 148, 148, 0.15) inset;
   box-shadow: 0px 7px 24px 0px #0E0E0E, 0px 4px 30px 0px rgba(148, 148, 148, 0.15) inset;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(15px);
   padding: 30px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.start-about-area h4 {
   color: #FFF;
   text-align: center;
   font-family: 'Gilroy-Regular', sans-serif;
   font-size: 18.432px;
   font-style: normal;
   font-weight: 300;
   line-height: 136.9%;
}

.btn-start {
   border-radius: 11.488px;
   overflow: hidden;
   background: -o-linear-gradient(11.79deg,
         rgba(0, 0, 0, 0.2) 0%,
         rgba(125, 125, 125, 0.2) 45.667970180511475%,
         rgba(0, 0, 0, 0) 100%),
      -o-linear-gradient(right, #222222, #222222);
   background: linear-gradient(78.21deg,
         rgba(0, 0, 0, 0.2) 0%,
         rgba(125, 125, 125, 0.2) 45.667970180511475%,
         rgba(0, 0, 0, 0) 100%),
      linear-gradient(to left, #222222, #222222);
   -webkit-box-shadow: 0px 3.38px 0px 0px rgba(27, 27, 27, 1),
      inset 0px 2.7px 10.14px 0px rgba(185, 185, 185, 0.15);
   box-shadow: 0px 3.38px 0px 0px rgba(27, 27, 27, 1),
      inset 0px 2.7px 10.14px 0px rgba(185, 185, 185, 0.15);
   padding: 20px 25px;
   color: #fff;
   -webkit-box-shadow: 1px 17px 32px 22px rgba(0, 0, 0, 0.12);
   box-shadow: 1px 17px 32px 22px rgba(0, 0, 0, 0.12);
   -webkit-transition: .2s ease-in-out;
   -o-transition: .2s ease-in-out;
   transition: .2s ease-in-out;
   /*font*/
   font-weight: 600;
   color: #ffffff;
   font-family: "Gilroy", sans-serif;
   text-transform: uppercase;
   position: relative;
   display: inline-block;
}

.btn-start::before {
   content: "";
   background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, 0.36)));
   background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0.36));
   background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0.36));
   height: 60px;
   width: 50px;
   position: absolute;
   top: 0px;
   left: -80px;
   -webkit-transform: skewX(-45deg);
   -ms-transform: skewX(-45deg);
   transform: skewX(-45deg);
}

.btn-start:hover {
   text-decoration: none;
   color: #fff !important;
}

.btn-start:hover:before {
   left: 100%;
   -webkit-transition: .5s ease-in-out;
   -o-transition: .5s ease-in-out;
   transition: .5s ease-in-out;
}

.btn-start:focus {
   background: #83bec5;
   color: #fff !important;
   outline: none;
}


.btn-start:hover {
   text-decoration: none;
   color: #fff;
   cursor: pointer;
}

.start-name {
   color: #FFF;
   font-family: 'BuyanBold';
   font-size: 155px;
   font-style: normal;
   font-weight: 700;
   line-height: 96.9%;
   /* 182.687px */
   margin-top: 20px;
   margin-bottom: 20px;
}

.start-name span {
   font-size: 150px;
   background: -o-linear-gradient(331deg, #E4C18C -101.68%, #FFDCA8 118.3%);
   background: linear-gradient(119deg, #E4C18C -101.68%, #FFDCA8 118.3%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   line-height: 96.9%;
   mix-blend-mode: color-dodge;
}

.start-descr {
   color: #FFF;
   text-align: center;
   font-family: 'Gilroy-Light', sans-serif;
   font-size: 26.124px;
   font-style: normal;
   font-weight: 300;
   line-height: 136.9%;
}

.start-descr b {
   color: #FFF;
   font-family: 'Gilroy-Bold', sans-serif;
   font-size: 26.124px;
   font-style: normal;
   font-weight: bold;
   line-height: 136.9%;
}

.btn-start-container {
   margin-top: 66px;
   margin-bottom: 30px;
   text-align: center;
}

.btn-connect-hero {
   text-align: center;
}

.btn-connect {
   padding: 35px 95px;
   border-radius: 15.144px;
   background: -o-linear-gradient(198.16deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      -o-linear-gradient(right, #e87431, #e87431);
   background: linear-gradient(251.84deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      linear-gradient(to left, #e87431, #e87431);
   box-shadow: 0px 4.45px 0px 0px rgba(119, 56, 20, 1),
      inset 0px 3.56px 13.36px 0px rgba(255, 255, 255, 0.15);
   -webkit-box-shadow: 1px 17px 32px 8px rgba(232, 116, 49, 0.2);
   box-shadow: 1px 17px 32px 8px rgba(232, 116, 49, 0.2);
   /* Font */
   color: #6a3111;
   font: 700 19.6px "Gilroy", sans-serif;
   -webkit-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}

.btn-connect:hover {
   background: -o-linear-gradient(198.16deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      -o-linear-gradient(right, #ea5819, #e86231);
   background: linear-gradient(251.84deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      linear-gradient(to left, #ea5819, #e86231);
   text-decoration: none;
   color: #6a3111;
   -webkit-box-shadow: 1px 17px 32px 22px rgba(232, 116, 49, 0.16);
   box-shadow: 1px 17px 32px 22px rgba(232, 116, 49, 0.16);
   cursor: pointer;
   padding: 35px 95px 31px;
}

/* ГАРАНТИИ */

.garanty {
   width: 100%;
   height: auto;
   background: #131313;
   padding-top: 30px;
   padding-bottom: 30px;
   position: relative;
}

.garanty-content {
   margin-top: -40px;
   background-image: url(../img/garantybg.png);
   width: 100%;
   height: 300px;
   padding: 40px 30px;
   position: relative;
   -webkit-box-shadow: 14px 14px 45px 41px rgba(0, 0, 0, 0.54);
   box-shadow: 14px 14px 45px 41px rgba(0, 0, 0, 0.54);
   z-index: 999;
}

.garanty-svg {
   width: 70px;
}

.garanty-reset {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.garanty-item {
   text-align: center;
}

.garanty-title {
   color: #FFAD59;
   text-align: center;
   font-family: 'BuyanBold';
   font-size: 30.672px;
   font-style: normal;
   font-weight: 700;
   line-height: 96.9%;
   /* 53.946px */
   letter-spacing: 1.392px;
}

.garanty-descr {
   color: #FFF;
   text-align: center;
   font-family: 'Gilroy-Light', sans-serif;
   font-size: 16.182px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   max-width: 300px;
}

.garanty-descr span {
   font-family: 'Gilroy-Bold', sans-serif;
}

.blur-orange-g1 {
   background: #f8cc78;
   border-radius: 50%;
   opacity: 0.3;
   width: 402px;
   /* Задайте необходимую ширину */
   height: 378px;
   /* Задайте необходимую высоту */
   position: absolute;
   left: -100px;
   /* Расстояние от левого края секции */
   top: -100px;
   /* Расстояние от верхнего края секции */
   -webkit-transform: rotate(-17.766deg) scale(1, 1);
   -ms-transform: rotate(-17.766deg) scale(1, 1);
   transform: rotate(-17.766deg) scale(1, 1);
   -webkit-filter: blur(136px);
   filter: blur(136px);
   z-index: 1;
   /* Поместите блок ниже контента */
}

.blur-orange-g2 {
   background-image: url(../img/eth.png);
   mix-blend-mode: color-dodge;
   width: 130px;
   height: 130px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: right;
   position: absolute;
   /* Установите позицию .blur-orange-g2 как абсолютную */
   top: 50px;
   /* Расположите блок сверху */
   right: 90px;
   /* Расположите блок справа */
   z-index: 1;
}

/* VIDEO SECTION */

.video {
   width: 100%;
   height: 800px;
   background: url(../img/bgvideo.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: ;
   padding-top: 30px;
   padding-bottom: 30px;
   position: relative;
}

.video-title {
   color: rgba(255, 241, 228, 0.78);
   text-align: center;
   font-family: 'Gilroy-Regular', sans-serif;
   font-size: 26.124px;
   font-style: normal;
   font-weight: 500;
   line-height: 136.9%;
   /* 35.764px */
   text-align: center;
}

.video-content {
   margin: 0 auto;
}

.video-popup {
   margin-top: 20px;
   text-align: center;
   z-index: ;
}

.video-player-img {
   width: 800px;
}

.video-player {
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}

.video-player:hover {
   cursor: pointer;
   opacity: 0.9;
}

.img-player {
   position: absolute;
   top: 220px;
   right: 640px;
   width: 140px;
   -webkit-transition: 0.4s;
   -o-transition: 0.4s;
   transition: 0.4s;
}

.img-player:hover {
   cursor: pointer;
}

.video-btn-container {
   text-align: center;
   margin-top: 120px;
}

/*
ABOUT
*/

.about-me {
   width: 100%;
   height: auto;
   background: url(../img/aboutbg.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 30px 0px 250px;
   color: #fff;
}

.about__content {
   margin-top: 100px;
}

.about_reset {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 30px;
}

.about_item {
   list-style-image: url(../img/li-element.png);
   padding-left: 30px;
   /* Font */
   color: rgba(255, 255, 255, 0.48);
   font-family: 'Gilroy-Regular', sans-serif;
   font-size: 16.575px;
   font-style: normal;
   font-weight: 300;
   line-height: 136.9%;
   /* 35.971px */
}

.about_item span {
   color: #FFF;
   font-family: 'Gilroy-Bold', sans-serif;
   font-style: normal;
   font-weight: 500;
}

/* Price */

.price {
   width: 100%;
   height: auto;
   padding: 0px 0px 70px;
   background-image: url(../img/Frame1.png);
   background-size: cover;
   background-repeat: no-repeat;
   color: #fff;
}

.title {
   text-align: center;
   font-family: 'BuyanBold';
   font-size: 135.988px;
   font-style: normal;
   font-weight: 700;
   line-height: 96.9%;
   background: -o-linear-gradient(230deg, rgb(255, 255, 255) -111.86%, rgba(255, 255, 255, 0.00) 120.92%);
   background: linear-gradient(220deg, rgb(255, 255, 255) -111.86%, rgba(255, 255, 255, 0.00) 120.92%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.price_content {
   margin-top: 40px;
}

.price_info {
   width: 100%;
   height: auto;
   border-radius: 47px;
   border: 2px solid #FFF;
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.54)), to(rgba(20, 20, 20, 0.54)));
   background: -o-linear-gradient(top, rgba(33, 33, 33, 0.54) 0%, rgba(20, 20, 20, 0.54) 100%);
   background: linear-gradient(180deg, rgba(33, 33, 33, 0.54) 0%, rgba(20, 20, 20, 0.54) 100%);
   -webkit-backdrop-filter: blur(13.5px);
   backdrop-filter: blur(13.5px);
   padding: 40px 50px;
   text-align: center;
}

.price-title {
   color: #FFF;
   text-align: center;
   font-family: 'BuyanBold';
   font-size: 40.044px;
   font-style: normal;
   font-weight: 100;
   line-height: 96.9%;
   margin-bottom: 30px;
}

.price_info .about_reset .about_item {
   font-size: 14px;
}


.price_descr {
   border-radius: 17.954px;
   background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#252525));
   background: -o-linear-gradient(top, #363636 0%, #252525 100%);
   background: linear-gradient(180deg, #363636 0%, #252525 100%);
   padding: 20px 40px;
   margin-bottom: 15px;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s
}

.btn-price-content {
   margin-top: 35px;
}

.btn-pay {
   padding: 20px 85px;
   border-radius: 15.144px;
   background: -o-linear-gradient(198.16deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      -o-linear-gradient(right, #e87431, #e87431);
   background: linear-gradient(251.84deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      linear-gradient(to left, #e87431, #e87431);
   box-shadow: 0px 4.45px 0px 0px rgba(119, 56, 20, 1),
      inset 0px 3.56px 13.36px 0px rgba(255, 255, 255, 0.15);
   -webkit-box-shadow: 1px 17px 32px 8px rgba(232, 116, 49, 0.2);
   box-shadow: 1px 17px 32px 8px rgba(232, 116, 49, 0.2);
   /* Font */
   color: #6a3111;
   font: 700 19.6px "Gilroy", sans-serif;
   -webkit-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}

.btn-pay:hover {
   background: -o-linear-gradient(198.16deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      -o-linear-gradient(right, #ea5819, #e86231);
   background: linear-gradient(251.84deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      linear-gradient(to left, #ea5819, #e86231);
   text-decoration: none;
   color: #6a3111;
   -webkit-box-shadow: 1px 17px 32px 22px rgba(232, 116, 49, 0.16);
   box-shadow: 1px 17px 32px 22px rgba(232, 116, 49, 0.16);
   cursor: pointer;
   padding: 20px 80px 17px;
}

/* Price Tabs */


.tabs {
   /*border: 1px solid #000;*/
   padding: 5px 0;
   margin: 0 auto;
   width: 100%;
}

.tabs__head {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   overflow-x: scroll;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding-bottom: 15px;
   width: 100%;
}

.tabs__btn {
   margin: 0 5px;
   background: -o-linear-gradient(11.79deg,
         rgba(0, 0, 0, 0.2) 0%,
         rgba(125, 125, 125, 0.2) 45.667970180511475%,
         rgba(0, 0, 0, 0) 100%),
      -o-linear-gradient(right, #222222, #222222);
   background: linear-gradient(78.21deg,
         rgba(0, 0, 0, 0.2) 0%,
         rgba(125, 125, 125, 0.2) 45.667970180511475%,
         rgba(0, 0, 0, 0) 100%),
      linear-gradient(to left, #222222, #222222);
   padding: 20px 25px;
   color: #fff;
   border-radius: 11.488px;
   border: none;
   color: #ffffff;
   white-space: nowrap;
   font: 700 19.6px "Gilroy", sans-serif;
   -webkit-transition: 0.9s;
   -o-transition: 0.9s;
   transition: 0.9s;
}

.tabs__btn:hover {
   background: -o-linear-gradient(198.16deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      -o-linear-gradient(right, #ea5819, #e86231);
   background: linear-gradient(251.84deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      linear-gradient(to left, #ea5819, #e86231);
   /* Font */
   color: #6a3111;
}

.tabs__btn--active {
   background: -o-linear-gradient(198.16deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      -o-linear-gradient(right, #e87431, #e87431);
   background: linear-gradient(251.84deg,
         rgba(195, 89, 29, 0) 0%,
         rgba(255, 174, 79, 1) 52.49704718589783%,
         rgba(253, 126, 35, 0) 100%),
      linear-gradient(to left, #e87431, #e87431);
   /* Font */
   color: #6a3111;
   -webkit-transition: 0.8s;
   -o-transition: 0.8s;
   transition: 0.8s;
}

.tabs__btn:focus {
   outline: none;
   border: none;
}

.tabs__body {
   padding: 10px 5px;
}

.tabs__box {
   display: none;
   /*border: 1px solid #000;*/
   /*padding: 5px 10px;*/
}

.tabs__box--active {
   display: block;
}

/* REVIEWS SECTION */

.reviews {
   width: 100%;
   padding: 50px 0px;
   height: 700px;
   background: url(../img/1revbg.png);
   background-size: 100% auto;
   background-repeat: no-repeat;
   position: relative;
}

.eth-reviews {
   background-image: url(../img/eth-reviews.png);
   mix-blend-mode: color-dodge;
   width: 170px;
   height: 170px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: left;
   position: absolute;
   /* Установите позицию .blur-orange-g2 как абсолютную */
   top: 50px;
   /* Расположите блок сверху */
   left: 90px;
   z-index: 1;
}

.eth-reviews2 {
   background-image: url(../img/eth-reviews2.png);
   mix-blend-mode: color-dodge;
   width: 350px;
   height: 370px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: left;
   position: absolute;
   /* Установите позицию .blur-orange-g2 как абсолютную */
   bottom: 50px;
   /* Расположите блок сверху */
   right: -150px;
   z-index: 1;
}


/*

  Footer

  */

.footer {
   width: 100%;
   background-color: #131313;
   height: auto;
   padding-bottom: 15px;
}

.start-title {
   background: -o-linear-gradient(230deg, rgba(255, 192, 97, 0.88) -111.86%, rgba(255, 192, 97, 0.88) 120.92%);
   background: linear-gradient(220deg, rgba(255, 192, 97, 0.88) -111.86%, rgba(255, 192, 97, 0.88) 120.92%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.footer-title {
   color: rgba(255, 192, 97, 0.88);
   font-family: 'BuyanBold';
   font-size: 40.152px;
   line-height: 96.9%;
}

.footer-block-content {
   margin-top: 30px;
}

.footer-reset {
   padding-left: 0;
}

.footer-item a {
   color: #FFF;
   margin-top: 10px;
   font-family: 'Gilroy-Light', sans-serif;
   font-size: 18.124px;
   font-weight: 300;
   line-height: 136.9%;
}

.footer-block-contact {
   text-align: center;
   color: #ffffff5a;
}

.footer-start-reset {
   display: flex;
   gap: 35px;
}

.footer-link {
   color: #ffffff9d;
   margin-top: 10px;
   font-family: 'Gilroy-Light', sans-serif;
   font-size: 18.124px;
   font-weight: 300;
   line-height: 136.9%;
   transition: 0.4s;
}

.footer-link:hover,
.footer-link:active {
   color: #fff;
   text-decoration: none;
   cursor: pointer;
}


/* 14.09 --------------------------------------------------------------------------------------------------------*/
:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
   background-color: transparent;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}



.start-section__image_mobile {
   display: none;
}

@media(min-width: 320px) and (max-width: 992px) {
   .container {
      max-width: 100% !important;
      padding: 0 35px !important;
   }
}

/* start section --------------------------------------------------------------------------------------------------------*/
@media(max-width: 1200px) {

   .start-content {
      justify-content: space-between;
   }

   .start-reset {
      width: unset;
      margin-right: 30px;
   }

   .start-about {
      width: unset;
   }
}

@media(max-width: 992px) {

   .start-section {
      padding-top: 456px;
      background: url(../img/start-bg.png) 20% top / auto no-repeat, rgba(14, 14, 14, 1);
   }

   .start-about {
      position: relative;
   }

   .btn-start-container {
      margin-bottom: 0;
   }

   .start-about::before {
      content: "";
      display: block;
      position: absolute;
      left: -35px;
      bottom: 0;
      width: 100vw;
      z-index: 0;
      height: 1px;
      background-color: rgba(14, 14, 14, 1);
      -webkit-box-shadow: 1px 0px 33px 33px rgba(14, 14, 14, 1);
      -moz-box-shadow: 1px 0px 33px 33px rgba(14, 14, 14, 1);
      box-shadow: 1px 0px 33px 33px rgba(14, 14, 14, 1);
   }

   .btn-connect {
      position: relative;
      z-index: 1;
   }

   .start-reset {
      display: none;
   }

   .start-about {
      width: 100%;
      text-align: center;
   }
}

@media(max-width: 650px) {

   .start-name,
   .start-name span {
      font-size: calc(80px + 75 * ((100vw - 393px) / (650 - 393)));
   }

   .btn-start {
      font-size: calc(8px + 8 * ((100vw - 393px) / (650 - 393)));
   }

   .start-descr {
      font-size: calc(16px + 8 * ((100vw - 393px) / (650 - 393)));
   }
}

@media(max-width: 576px) {
   .start-section {
      background: url(../img/start-bg.png) top left / auto 456px no-repeat, rgba(14, 14, 14, 1);
      position: relative;
      padding-bottom: 50px;
   }

   .start-about::before {
      bottom: unset;
      top: 0;
   }

   .start-about-area {
      padding: 20px;
      gap: 16px;
   }

   .start-about-area h4 {
      font-size: calc(10px + 8 * ((100vw - 393px) / (576 - 393)));
   }

   .btn-connect {
      font-size: 15px;
   }
}

@media(max-width: 450px) {
   .start-section {
      background: url(../img/start-bg.png) 16% top / auto 456px no-repeat, rgba(14, 14, 14, 1);
   }

   .btn-connect {
      width: 100%;
      padding: 35px 0;
      display: block;
   }
}

@media(max-width: 393px) {
   .start-about-area h4 {
      font-size: 10px;
   }

   .start-name,
   .start-name span {
      font-size: calc(70px + 10 * ((100vw - 320px) / (393 - 320)));
   }

   .btn-start {
      font-size: 8px;
   }

   .start-descr {
      font-size: 16px;
   }
}

/* garanty section  */
.garanty-content {
   height: unset;
}

.garanty-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.garanty-svg {
   flex: 0 0 90px;
   width: unset;
   margin-bottom: 40px;
}

@media(max-width: 992px) {
   .garanty {
      position: relative;
      margin-top: -1px;
   }

   .garanty::before {
      content: "";
      display: block;
      width: 100%;
      height: 453px;
      position: absolute;
      top: 100px;
      left: 100px;
      background: url(../img/1revbg.png) center / cover no-repeat;
      opacity: 0.2;
   }

   .garanty::after {
      content: "";
      display: block;
      width: 100%;
      height: 453px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: url(../img/1revbg.png) center / cover no-repeat;
      opacity: 0.2;
      transform: rotate(180deg);
   }

   .garanty-title {
      font-size: 42px;
   }

   .garanty-descr {
      font-size: 17px;
   }

   .garanty-content {
      background: none;
      box-shadow: unset;
      padding: 0;
      margin: 0;
   }

   .garanty-reset {
      flex-direction: column;
      padding-left: 0;
      gap: 64px;
   }

   .garanty-svg {
      flex: 0 0 65px;
   }
}

@media(max-width: 768px) {
   .garanty .blur-orange-g2 {
      display: none;
   }
}



/* video section --------------------------------------------------------------------------------------------------------*/
.video {
   margin-top: -1px;
   background-position: center;
   position: relative;
}

.video::after {
   content: "";
   display: block;
   width: 100%;
   height: 10px;
   position: absolute;
   bottom: -5px;
   left: 0;
   backdrop-filter: blur(5px);
   z-index: 1;
}

.video-title_mobile {
   display: none;
}

@media(max-width: 992px) {
   .video {
      height: unset;
   }

   .video-player-img {
      width: 100%;
   }

   .video-title {
      display: none;
   }

   .video-title_mobile {
      display: block;
   }

   .video-btn-container {
      margin-top: 56px;
   }

   .video-btn-container a {
      display: block;
   }
}

@media(max-width: 675px) {
   .video {
      background-color: #1A140F;
      background-size: 140% 80%;
      background-position: center 40%;
   }

   .video-title_mobile {
      font-size: calc(9px + 15 * ((100vw - 320px) / (675 - 320)));
   }

   .video::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      z-index: 0;
      height: 1px;
      background-color: rgba(14, 14, 14, 1);
      -webkit-box-shadow: 1px 0px 33px 33px rgba(14, 14, 14, 1);
      -moz-box-shadow: 1px 0px 33px 33px rgba(14, 14, 14, 1);
      box-shadow: 1px 0px 33px 33px rgba(14, 14, 14, 1);
   }

   .btn-connect {
      padding: 30px;
   }
}

@media(max-width: 550px) {
   .video {
      background-position: center 30%;
   }
}

@media(max-width: 450px) {
   .video {
      background-position: center 25%;
   }
}

@media(max-width: 400px) {
   .video {
      background-position: center 20%;
   }
}

@media(max-width: 375px) {
   .video {
      background-position: center 10%;
   }
}

@media(max-width: 350px) {
   .video {
      background-position: center 0;
   }
}


/* about me --------------------------------------------------------------------------------------------------------*/


.about-me {
   margin-top: -1px;
   /* background-position: center; */
}

.about-me__title {
   display: none;
   z-index: 1;
}

@media(max-width: 1200px) {
   .about-me {
      background-position: center;
   }
}

@media(max-width: 992px) {
   .about-me .row {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      /* gap: 50px; */
      margin: 0;
      flex-wrap: nowrap;
   }

   .offset-md-4 {
      margin-left: 0 !important;
   }

   .col-md-4 {
      flex: 0 1 40% !important;
      max-width: unset !important;
   }
}

@media(max-width: 768px) {
   .about-me {
      background: url(../img/aboutbg.png) top center / 150% 60% no-repeat, rgba(14, 14, 14, 1);
      position: relative;
   }

   .about-me__title {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-20px);
      white-space: nowrap;
      color: #FFF;
      font-size: 50.639px;
      font-weight: 700;
      mix-blend-mode: overlay;
      text-transform: uppercase;

   }

   .about-me::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 60%;
      width: 100vw;
      z-index: 0;
      height: 1px;
      background-color: rgba(14, 14, 14, 1);
      -webkit-box-shadow: 1px 0px 33px 33px rgba(14, 14, 14, 1);
      -moz-box-shadow: 1px 0px 33px 33px rgba(14, 14, 14, 1);
      box-shadow: 1px 0px 33px 33px rgba(14, 14, 14, 1);
   }

   .about-me .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 40px;
   }

   .about__content {
      transform: translateY(200px);
   }

   .about-me ul {
      margin: 0;
      padding: 0;
   }

   .about-me .about_item {
      flex-direction: column;
      gap: 20px;
      list-style: none;
      margin: 0 !important;
      padding: 0;
      max-width: 300px;
      position: relative;
   }

   .about-me .about_item::before {
      content: "";
      display: block;
      width: 21px;
      flex: 0 02px;
      height: 2px;
      background: url(../img/li-element.png) center / cover no-repeat;
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
   }

   .about_reset {
      padding: 0;
      gap: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
   }
}

@media(max-width: 650px) {
   .about-me {
      background: url(../img/aboutbg.png) top center / 220% 60% no-repeat, rgba(14, 14, 14, 1);
   }
}


/* price section  --------------------------------------------------------------------------------------------------------*/
.price {
   padding-top: 100px;
   position: relative;
   margin-top: -1px;
}

.price::before {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 0;
   height: 1px;
   background-color: rgba(14, 13, 13, 0.8);
   -webkit-box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 0.8);
   -moz-box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 0.8);
   box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 0.8);
}

.tabs__head {
   overflow-x: hidden;
}

@media(max-width: 1200px) {

   .price .row {
      margin: 0;
      gap: 20px;
   }
}

@media(max-width: 992px) {
   .price .row {
      gap: 50px;
   }
}

@media(max-width: 875px) {
   .tabs__head {
      display: none;
   }
}

@media(max-width: 768px) {
   .price .col-sm {
      padding: 0 !important;
   }

   .price .row {
      flex-direction: column;
      flex-wrap: nowrap;
   }

   .price_info .about_reset .about_item {
      font-size: 16px;
   }

   .price .about_reset {
      gap: 30px;
   }

   .price_descr {
      margin-left: 10px;
      margin-right: 10px;
      padding: 24px 0;
      font-size: 19px;
      font-weight: 600;
      margin-bottom: 20px;
   }

   .price_descr:last-child {
      margin-bottom: 0;
   }

   .price .btn-pay {
      width: 100%;
      display: block;
      padding: 28px 0;
   }

   .price_info {
      padding: 50px 33px;
   }

   .price .about_item {
      list-style-position: inside;
      padding-left: 0;
   }

   .price .about_reset {
      align-items: flex-start;
   }
}

@media(max-width: 375px) {
   .price-title {
      font-size: 32px;
   }

   .price_info {
      padding: 40px 24px;
   }

   .price_descr {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 18px;
   }

   .price_info .about_reset .about_item {
      font-size: 12px;
   }
}

/* footer --------------------------------------------------------------------------------------------------------*/
.footer {
   padding-bottom: 100px;
   position: relative;
   margin-top: -1px;
}

.footer::before {
   content: "";
   position: absolute;
   bottom: -1px;
   left: 0;
   display: block;
   width: 100%;
   height: 1px;
   background-color: #131313;
}

.reviews::after {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 0;
   height: 1px;
   background-color: rgba(14, 13, 13, 1);
   -webkit-box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 1);
   -moz-box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 1);
   box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 1);
}

.footer-block__input input {
   border-radius: 9.418px;
   border: 1.052px solid rgba(0, 0, 0, 0.17);
   background: #FFF;
   box-shadow: 0px 4.20957px 4.20957px 0px rgba(0, 0, 0, 0.59);
   padding: 22px 28px;
   color: rgba(24, 24, 24, 1);
   font-size: 17.047px;
   font-weight: 300;
   line-height: 99.5%;
   display: block;
   margin-bottom: 20px;
}

.footer-block:last-child {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer-block__input input::placeholder {
   color: rgba(24, 24, 24, 0.67);
}

.footer-block__btn {
   outline: none;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   width: 100%;
   color: #FFF;
   font-family: "Gilroy", sans-serif;
   font-size: 14.825px;
   font-weight: 700;
   border-radius: 11.456px;
   background: linear-gradient(78deg, rgba(0, 0, 0, 0.20) 16.65%, rgba(125, 125, 125, 0.20) 52.96%, rgba(0, 0, 0, 0.00) 96.15%), url(<path-to-image>), lightgray 0% 0% / 67.38812327384949px 67.38812327384949px repeat, #222;
   box-shadow: 0px 3.36941px 0px 0px #1B1B1B, 0px 2.69552px 10.10822px 0px rgba(185, 185, 185, 0.15) inset;
}

.footer-block__btn:focus,
.footer-block__btn:active {
   outline: none;
}

@media(max-width: 850px) {
   .footer .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 65px;
   }

   .footer .footer-start-reset {
      justify-content: center;
      padding-left: 0;
   }
}

@media(max-width: 768px) {
   .footer .start-title {
      font-size: 81.413px;
      font-weight: 700;
      line-height: 96.9%;
      /* 78.89px */
      background: linear-gradient(220deg, rgba(255, 255, 255, 0.88) -161.86%, rgba(255, 255, 255, 0.00) 120.92%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      mix-blend-mode: color-dodge;
   }
}

@media(max-width: 375px) {
   .footer {
      padding-bottom: 50px;
   }
}

@media(max-width: 450px) {

   .title,
   .footer .start-title {
      font-size: 80px;
   }
}

@media(max-width: 350px) {

   .title,
   .footer .start-title {
      font-size: 64px;
   }
}



/* slider  ------------------------------------------------------------------------------------------------------------------*/
.reviews {
   height: unset;
   position: relative;
   background-size: cover;
}

.reviews::before {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 0;
   height: 1px;
   background-color: rgba(14, 13, 13, 1);
   -webkit-box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 1);
   -moz-box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 1);
   box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 1);
}

.reviews::after {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 0;
   height: 1px;
   background-color: rgba(14, 13, 13, 0.8);
   -webkit-box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 0.8);
   -moz-box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 0.8);
   box-shadow: 1px 0px 33px 33px rgba(14, 13, 13, 0.8);
}

.reviews__btn {
   max-width: 420px;
   margin: 0 auto;
   text-align: center;
   margin-top: 50px;
}

.blur-orange-g2_bottom {
   top: unset;
   right: unset;
   left: 30px;
   bottom: 30px;
}

.reviews-slider {
   width: 100%;
   max-height: 1000px;
   overflow: hidden;
   position: relative;
}

.swiper-wrapper {
   width: 100%;
   position: relative;
   display: flex;
   /* overflow: hidden; */
   /* gap: 50px; */
}

.reviews-slider__slide {
   max-width: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   transform: scale(0.75) !important;
   transition: 0.5s;
   user-select: none;
}

.reviews-slider__slide.swiper-slide-active {
   transform: scale(1) !important;
}

.reviews-slide__image {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.reviews-slider__slide img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


.reviews-slider__btn {
   width: 130px;
   height: 120px;
   border-radius: 50%;
   background: url(../img/btn-bg.png) center / cover no-repeat;
   box-shadow: 0px 4.68674px 0px 0px #1B1B1B, 0px 3.74939px 14.06021px 0px rgba(185, 185, 185, 0.15) inset;
}

.reviews-slider__btn svg {
   width: 45px;
   height: 40px;
}

.reviews-slider__btn::after {
   font-size: 0;
}

.reviews-slider__btn_prev {
   left: 20%;
}

.reviews-slider__btn_next {
   right: 20%;
}



@media(max-width: 768px) {
   .reviews .blur-orange-g2 {
      display: none;
   }

   .reviews-slider__btn {
      width: 71px;
      height: 71px;
      border-radius: 50%;
   }

   .reviews-slider__btn svg {
      width: 25px;
      height: 20px;
   }

   .reviews__btn {
      margin-top: 20px;
   }
}

@media(max-width: 500px) {
   .reviews-slider__btn_prev {
      left: 0%;
   }

   .reviews-slider__btn_next {
      right: 0%;
   }
}